# Virtual environment
venv/
capstone/
.env/

# Semester folders (not to be tracked)
Sem_5/
Sem_6/

# files not to be pushed
GRL_Book.pdf

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# VS Code settings (optional)
.vscode/

fullkg-2026-03-28T07-40-52.dump
edge_embeddings.pkl